<%= form_with(model: ticket, local: true) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :ticket_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :ticket_email %>
  </div>

  <div class="field">
    <%= form.label :userId %>
    <%= form.text_field :userId, id: :ticket_userId %>
  </div>

  <div class="field">
    <%= form.label :subject %>
    <%= form.text_field :subject, id: :ticket_subject %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content, id: :ticket_content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
